/*
 * Empty Stylesheet file.
*/

.mainFxmlClass {

}
polygon1{
    -fx-fill:  Lime;
}

.polygonOn{
    -fx-fill: Lime;
}
#settingsButton{
    
}
#settingsButton:hover{
    -fx-cursor: hand;
}